.cf-container {
  position: relative;
  display: flex;
  justify-content: center;  
  align-items: center;
}
.clock_fields {
	width: 130px;
	padding: 5px;
}

.pb-text {
   position: absolute;
   width: 100%; 
   text-align: center;
   color: darkblue;
   
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("/images/vertical.jpg");
  background-size: cover;
}

.layer {
	background-color: rgba(255,255,255,0.5);
	width: 100%;
}

@media screen and (max-width: 767px) {	
	.sidebar {
		background-image: url("/images/horizontal.jpg");
  	background-size: cover;
	}
}

.CircularProgressbar-path {
  stroke: #2e3fa7 !important;
}