.intro {
	background-image: url('/images/Sem nome2.jpg');	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.contest {
	height: 315px;
	background-image: url('/images/winner.jpg');
	background-size: cover;
	padding: 20px;
}

.inner {
	position: relative;
	width: 60%;
	height: 100%;
	padding: 10px;
	background-color: rgba(255,255,255,0.5)
}

@media (min-width: 767px) {
	.inner {
		width: 50%
	}
}

.btn > a, .btn > a:focus, .btn > a:active {
	color: white;
	text-decoration: none;
	background-color: transparent;
}