.intro {
	background-image: url('/images/downhill.jpg');	
	background-size: contain;
	background-repeat: no-repeat;
}

.contest {
	height: 315px;
	background-image: url('/images/winner.jpg');
	background-size: cover;
	padding: 20px;
}

.inner {
	position: relative;
	width: 50%;
	height: 100%;
	padding: 10px;
	background-color: rgba(255,255,255,0.5)
}