@font-face {
  font-family: h1Font;
  src: url(/SUPER_CHARGERS.ttf);
}

h1 {
	font-family: h1Font;
}

@media (min-width: 767px) and (max-width:992px ) {
	h1 {
		font-size: 22px;
	}
}

@media (min-width: 992px) and (max-width:1200px ) {
	h1 {
		font-size: 28px;
	}
}